.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.logout {
  background-color: tomato;
  z-index: 200;
}

.login {
  background-color: teal;
  margin-right: 12px;
}

.register {
  background-color: slateblue;
  margin-right: 12px;
}

.buttons-wrapper,
.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}

.registerContainer input,
.loginContainer input {
  padding: 0.5rem;
}
